# Normalize line endings for all files that Git considers text files.
* text=auto eol=lf

# Only include the addons folder when downloading from the Asset Library.
/**                            export-ignore
/addons/                      !export-ignore
/addons/complete_settings     !export-ignore
/addons/complete_settings/**  !export-ignore
/addons/ActionIcon            !export-ignore
/addons/ActionIcon            !export-ignore
/addons/easy_settings/        !export-ignore
/addons/easy_settings/**      !export-ignore
/addons/keybind_remap/        !export-ignore
/addons/keybind_remap/**      !export-ignore
/addons/slider_spin_box/      !export-ignore
/addons/slider_spin_box/**    !export-ignore
/addons/smart_line_edit/      !export-ignore
/addons/smart_line_edit/**    !export-ignore